---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import ContentPreview from "@components/ContentPreview.astro";
import { SITE, SOCIALS, PROFILE } from "@consts";
import TwinklingStars from "@components/TwinklingStars.astro";
import MeteorShower from "@components/MeteorShower.astro";

const posts = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0, 3);

const projects = (await getCollection("projects"))
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0, 3);
---

<PageLayout title="Home" description={SITE.DESCRIPTION}>
  <!-- Light Mode: Particles -->
  <div class="absolute inset-0 block dark:hidden">
    <div id="particles1" class="fixed inset-0"></div>
    <div id="particles2" class="fixed inset-0"></div>
    <div id="particles3" class="fixed inset-0"></div>
  </div>

  <!-- Dark Theme: Stars -->
  <div class="absolute inset-0 hidden bg-black dark:block">
    <div id="stars1" class="fixed inset-0"></div>
    <div id="stars2" class="fixed inset-0"></div>
    <div id="stars3" class="fixed inset-0"></div>
  </div>

  <!-- Dark Theme: Twinkling Stars / Metors -->
  <div id="galaxy" class="fixed inset-0">
    <div class="hidden dark:block">
      <TwinklingStars />
      <MeteorShower />
    </div>
  </div>

  <script is:inline src="/js/bg.js"></script>

  <!-- HERO -->
  <section class="relative h-[450px] w-full">
    <div id="planetcont" class="animate absolute inset-0 top-1/4 overflow-hidden">
      <div
        id="crescent"
        class="absolute left-1/2 top-0 aspect-square min-h-[100vh] w-[250vw] -translate-x-1/2 rounded-full bg-gradient-to-b from-black/25 from-0% to-transparent to-5% p-[1px] dark:from-white/75"
      >
        <div
          id="planet"
          class="flex h-full w-full justify-center overflow-hidden rounded-full bg-white p-[1px] dark:bg-black"
        >
          <div
            id="blur"
            class="h-20 w-full rounded-full bg-neutral-900/25 blur-3xl dark:bg-white/25"
          >
          </div>
        </div>
      </div>
    </div>
    <div class="animate absolute flex h-full w-full items-center justify-center">
      <div
        class="relative flex h-full w-full flex-col items-center justify-center gap-4 px-5 pt-28"
      >
        <div
          class="relative h-32 w-32 overflow-hidden rounded-full border-4 border-black/10 bg-white p-4 shadow-lg dark:border-white/25 dark:bg-black"
        >
          <img src="/favicon.svg" alt="jackwaterloo" class="h-full w-full object-cover" />
        </div>
        <div class="space-y-1 text-center">
          <p class="animated titlecase text-xl font-bold text-black dark:text-white">
            {SITE.AUTHOR}
          </p>
          <p class="text-md flex items-center justify-center gap-2 opacity-60">
            <svg
              class="size-4"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"
              ></path>
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path>
            </svg>
            {PROFILE.LOCATION}
          </p>
          <!-- <p class="animated text-md font-semibold lowercase opacity-75">
            {PROFILE.TITLE}
          </p> -->
          <!-- <p class="animated text-sm opacity-75 md:text-base lg:text-lg">
            IT and Web Development Hobbiest
          </p> -->
          <!-- <div id="ctaButtons" class="animated mt-5 flex flex-wrap justify-start gap-4">
            <a
              href="/blog"
              class="blend truncate rounded bg-black px-4 py-2 text-xs text-white hover:opacity-75 dark:bg-white dark:text-black md:text-sm"
            >
              Read my blog
            </a>
            <a
              href="/projects"
              class="blend truncate rounded border border-black/25 px-4 py-2 text-xs hover:bg-black/5 dark:border-white/25 hover:dark:bg-white/15 md:text-sm"
            >
              View my projects
            </a>
          </div> -->
          <div class="flex justify-center gap-2">
            {
              SOCIALS.map((SOCIAL) => (
                <a
                  href={SOCIAL.HREF}
                  target="_blank"
                  aria-label={`${SITE.TITLE} on ${SOCIAL.NAME}`}
                  class="blend group size-10 items-center justify-center rounded-full border border-black/25 p-2 hover:bg-black/5 dark:border-white/25 dark:hover:bg-white/15"
                >
                  <svg class="blend size-full fill-current group-hover:fill-black group-hover:dark:fill-white">
                    <use href={`/social.svg#${SOCIAL.ICON}`} />
                  </svg>
                </a>
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="relative bg-white dark:bg-black">
    <div class="pb-17 mx-auto max-w-screen-sm space-y-12 px-5">
      <!-- About Section -->
      <section class="animate">
        <article class="pt-8">
          <p>This site is meant to share my <b><i>thoughts</i></b> and <b><i>projects</i></b>.</p>
        </article>
      </section>

      <!-- Blog Preview Section -->
      <section class="animate">
        <div class="space-y-4">
          <div class="flex justify-between">
            <p class="font-semibold text-black dark:text-white">Recent posts</p>
            <a
              href="/blog"
              class="blend group col-span-3 flex w-fit items-center gap-1 text-black underline decoration-black/25 decoration-[.5px] underline-offset-2 hover:decoration-black dark:text-white dark:decoration-white/50 dark:hover:decoration-white"
            >
              <span
                class="blend text-black/75 group-hover:text-black dark:text-white/75 group-hover:dark:text-white"
              >
                All posts
              </span>
            </a>
          </div>
          <ul class="space-y-4">
            {posts.map((post) => <ContentPreview entry={post} />)}
          </ul>
        </div>
      </section>

      <!-- Project Preview Section -->
      <section class="animate pb-5">
        <div class="space-y-4">
          <div class="flex justify-between">
            <p class="font-semibold text-black dark:text-white">Recent projects</p>
            <a
              href="/projects"
              class="blend group col-span-3 flex w-fit items-center gap-1 text-black underline decoration-black/25 decoration-[.5px] underline-offset-2 hover:decoration-black dark:text-white dark:decoration-white/50 dark:hover:decoration-white"
            >
              <span
                class="blend text-black/75 group-hover:text-black dark:text-white/75 group-hover:dark:text-white"
              >
                All projects
              </span>
            </a>
          </div>
          <ul class="space-y-4">
            {projects.map((project) => <ContentPreview entry={project} />)}
          </ul>
        </div>
      </section>
    </div>
  </div>
</PageLayout>
